In [1]:
###les variables

In [8]:
x = 5 # déclaration d'une variable de type int
y = "cloud" # déclaration d'une variable de type str
print('la valuer de x est : ',x) # Afficharge de la valeur d'une variable
print('la valuer de y est : ',y)
print('le type de x est : ',type(x)) # Affichage du type des variable
print('le type de y est : ',type(y))

la valuer de x est :  5
la valuer de y est :  cloud
le type de x est :  <class 'int'>
le type de y est :  <class 'str'>

In [9]:
x, y = 'cloud', 5

print('la valuer de x est : ',x)
print('la valuer de y est : ',y)
print('le type de x est : ',type(x)) # Affichage du type des variable
print('le type de y est : ',type(y))

la valuer de x est :  cloud
la valuer de y est :  5
le type de x est :  <class 'str'>
le type de y est :  <class 'int'>

In [10]:
## les listes

In [18]:
# déclaration d'une liste

list_1 = ["apple", "banana", "cherry", 4, 2.5]
print(list_1)

['apple', 'banana', 'cherry', 4, 2.5]

In [22]:
# acces aux elementsd'une liste
print(list_1[1]) # renvoie le 2ème element de la list
print(list_1[-1])# renvoie le dèrnier element de la list
print(list_1[1:4]) # renvoie le 2ème, 3eme et 4eme element de la list
print(list_1[:3]) # renvoie tous les elements du début de la liste jusqu'au 3eme
print(list_1[2:]) # renvoie tous les elements du 3eme de la liste jusqu'à la fin
print(list_1[-3:-1])

banana
2.5
['banana', 'cherry', 4]
['apple', 'banana', 'cherry']
['cherry', 4, 2.5]
['cherry', 4]

In [30]:
# mannipulation d'une liste
list_1.append("ananas") # ajout d'un element à la fin de la liste
print(list_1)

['apple', 'banana', 'cherry', 35, 2.5, 'ananas', 'ananas', 'ananas', 'ananas', 'ananas', 'ananas', 'ananas', 'ananas']

In [31]:
list_1[3] = 35 
list_1[1:3] = ["blackcurrant", "watermelon"] # remplace le 2eme et 3eme element de la liste par ces nouveaux elements
list_1[1:2] = ["blackcurrant", "watermelon"] # remplace le deuxième element deux nouvelles valeurs

In [32]:
# insertion dans une liste
list_1.insert(2, "citron") # insert citron comme 3eme element de la liste

In [33]:
# suppression des elements d'une liste
#list_1.remove("ananas") # supprime l'element ananas de la liste
#list_1.pop(6) # suppreime l'element qui a pour index 6 dde la liste
#list_1.pop() # supprime le dernier element de la liste
#del list_1[0] # supprime egalement l'element à l'index precisé, dans notre cas le 1er element
# "del list_1 " supprime completemnt la liste
# "list_1.clear()" vide la liste

In [34]:
## Les tuples

In [36]:
# créer un tuple
tuple_1 = ("apple", "banana", "cherry", "3")
print(tuple_1)

('apple', 'banana', 'cherry', '3')

In [38]:
# Connaitre la longueur d'un tuple

print(len(tuple_1))

4

In [40]:
# acces aux tuples
print(tuple_1[1]) # on accède aux tuples de la même manière qu'aux listes.

banana

In [43]:
# joidre deux tuples

tuple_2 = (2, 4, 3, "ananas")
tuple_3 = tuple_1 + tuple_2
print(tuple_3)

('apple', 'banana', 'cherry', '3', 2, 4, 3, 'ananas')

In [45]:
# multiplier les tuples

tuplex = tuple_2*2
print(tuplex)

(2, 4, 3, 'ananas', 2, 4, 3, 'ananas')

In [46]:
## les dictionnaires

In [47]:
# création d'un dictionnaire

mondict = {
  "Nom": "zakoua",
  "Prenom": "mathurin",
  "Age": 35
}
print(mondict)

{'Nom': 'zakoua', 'Prenom': 'mathurin', 'Age': 35}

In [82]:
# creation de dictionnaire avec le constructeur dict

dico = dict(nom = "John", age = 36, prenom = "nagato")
print(dico)

{'nom': 'John', 'age': 36, 'prenom': 'nagato'}

In [87]:
# faire une Copie un dictionnaire
dic = dico.copy()
dic_1 = dict(dic)
print(dic_1)

{'nom': 'John', 'age': 36, 'prenom': 'nagato'}

In [63]:
# un dictionnaire peut contenir une liste

mondict = {
  "Nom": "zakoua",
  "Prenom": "mathurin",
  "Age": 35,
  "langue": ["Français", "Anglais", "Arabe"]
}

In [57]:
# acces aux éléments d'un dictionnaire

nom = mondict["Nom"] # permet d'obtenir la valeur de la clé "nom"
prenom = mondict.get("Prenom")
print(nom)
print(prenom)

zakoua
mathurin

In [71]:
# obtenir les clés et les valeurs d'un dict

mesCles = mondict.keys() # permet d'obtenir toutes les clés du dictionnaire
mesValeurs = mondict.values() # pour obtenir les valeurs
# print(mesValeurs)
maListe = mondict.items() # liste les paires clé-valeurs dans une liste de tuple

In [65]:
# ajouter un nouveau élément au dictionnaire

mondict["Taille"] = 1.80
print(mondict)

{'Nom': 'zakoua', 'Prenom': 'mathurin', 'Age': 30, 'langue': ['Français', 'Anglais', 'Arabe'], 'Taille': 1.8}

In [81]:
# modifier un élément du dictionnaire

mondict["Age"] = 30
mondict.update({"Taille":1.75}) # permet de mettre à jour 
print(mondict)

{'Nom': 'zakoua', 'Prenom': 'mathurin', 'Age': 30, 'Taille': 1.75}

In [89]:
# suppression dans un dictionnaire

#supp_cle = mondict.pop("langue") # le methode pop supprime un élément à l'aide du nom de sa clé
#supp_last = mondict.popitem() # supprime le dernier élément inseré

In [ ]:
## Les fonctions

In [106]:
# création d'une fonction

def my_function(n,m):
    return (n*m)

In [107]:
my_function(10,2)

20

In [104]:
## les fichers

In [108]:
# ouvrir un ficher en lecture, c'est la valeur par defaut des fichers

f = open("fichier.txt")
f = open("fichier.txt", "rt")

In [109]:
## Les conditions

In [110]:
# une condition simple

a = 33
b = 200
if b > a:
    print("b est supérieur à a")

b est supérieur à a

In [111]:
a = 33
b = 33
if b > a:
  print("b est plus grnad que a")
elif a == b:
  print("a est égal à b")

a est égal à b

In [112]:
a = 200
b = 33
if b > a:
  print("b est plus grnad que a")
elif a == b:
  print("a est égal à b")
else:
  print("a est plus grnad que b")

a est plus grnad que b

In [113]:
# condition avec des opérateurs tainaires 

a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [115]:
# utilisation de l'opérateur de logique "and"

a = 200
b = 33
c = 500
if a > b and c > a:
  print("Les deux conditions sont vraies")
else:
    print("Les deux conditions ne sont pas vraies")

Les deux conditions sont vraies

In [117]:
# utilisation de l'opérateur de logique "or"

a = 200
b = 33
c = 500
if a > b or a > c:
  print("Au moins une des deux conditions est vraie")

au moins une des deux conditions est vraie

In [118]:
# utilisation de l'opérateur de logique "NOT"

a = 33
b = 200
if not a > b:
    print("b est supérieur à a")

b est supérieur à a

In [121]:
# conditions imbriquées

x = 41

if x > 10:
  print("Supérieur à 10")
  if x > 20:
    print("également supérieur à 20!")
  else:
    print("Mais passupérieur à 20.")

Supérieur à 10
également supérieur à 20!

In [124]:
## Les boucles

In [125]:
# La boucle while
# cette boucle va afficher i en incrémantant de 1 à chaque iteration tant qu'il sera inférieur à 10 
i = 1
while i < 10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9

In [126]:
# Arrêter la boucle même si la condition est toujours vraie à l'aide de 'breack'

i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [127]:
# Arrêter l'itération en cours et continuer avec la suivante à l'aide de 'continue'

i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [128]:
## Boucle for

In [129]:
# afficher chaque élément d'une liste

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [130]:
# Parcourir une chaine de caractère

for x in "banana":
  print(x)

b
a
n
a
n
a

In [131]:
#La fonction range() renvoie une séquence de nombres, 
#commençant par 0 par défaut, et incrémentée de 1 (par défaut), et se termine à un nombre spécifié.

for x in range(6):
  print(x) # Affiche les nombres de 0 à 5

0
1
2
3
4
5

In [132]:
# cette boucle affiche les nombres allant de 2 à 6 mais n'inclus pas 6
for x in range(2, 6):
  print(x)

2
3
4
5

In [133]:
# changement de l'incrémentation. le 3eme paramettre est l'incrémentation

for x in range(2, 20, 2):
  print(x)

2
4
6
8
10
12
14
16
18

In [135]:
# boucle imbriquées

couleurs = ["vert", "jaune", "rouge"]
fruits = ["apple", "banana", "cherry"]

for x in couleurs:
  for y in fruits:
    print(x,':', y)

vert : apple
vert : banana
vert : cherry
jaune : apple
jaune : banana
jaune : cherry
rouge : apple
rouge : banana
rouge : cherry

In [123]:
# sortir de la boucle avant sa fin à l'aide du mot clé "break"

for x in range(6):
  if x == 3: break
  print(x)
else:
  print("terminé!")

0
1
2